* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    width:100%;
}

header {
    background-color: #00c896; /* Updated to match the color in the image */
    padding: 15px 30px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width:100%;
}

nav{
    display:flex;
    flex-direction:column;
    width:100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

.header{
    display:flex;
    justify-content: space-between;
    width:100%;
    
}

.navbar{
    display:flex;
    flex-grow: 1;
    gap:30px;
}

.logo::before {
    content: '\2795'; /* Medical cross symbol */
    font-size: 30px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px; /* Adjust the gap between items */
}

nav ul li {
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #ffffff;
    color: #026c52; /* Set text color for menu items */
    border-radius: 25px;
}

nav ul li a:hover {
    background-color: #019a7a;
    color: white;
}


.search-bar {
    display: flex;
    margin:auto;
}

.search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    /* margin-left: 10px; */
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    width: 24px; /* Adjust icon size */
    height: 24px;
}

/* Additional Styles */
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.landing .content {
    max-width: 500px;
}

.landing h1 {
    font-size: 48px;
    color: #333;
}

.landing p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}

.cta-button {
    background-color: #00c896;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #019a7a;
}

.image img {
    width: 900px;
    height: auto;
}
